.board-post-list-item {
  &.container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #CCC;
    background-color: #EEE;
    transition: background-color 0.25s;

    &:hover {
      background-color: #DDD;
    }
  }

  .tinny {
    font-size: 11px;
    text-align: center;
  }

  .item {
    padding: 4px;
    margin: auto 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .id {
    width: 5%;
    max-width: 4em;
    font-size: 8px;
  }

  .title {
    font-size: 14px;
    cursor: pointer;

    a {
      &:link {
        color: #000;
        text-decoration: none;
      }

      &:visited {
        color: #AAA;
        text-decoration: none;
      }

      &:hover {
        color: #777;
        text-decoration: underline;
      }

      &:active {
        text-decoration: underline;
      }
      
    }
  }

  .comment-count {
    margin-left: 0.5em;
    font-size: 12px;
  }

  .writer {
    margin-left: auto;
    width: 20%;
    max-width: 6em;
    font-size: 14px;
  }

  .created-at {
    width: 10%;
    max-width: 4em;
  }

  .likes {
    width: 5%;
    max-width: 4em;
  }
}