.post-footer {
  &.container {
    margin: 4ex 0px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 4ex;
    text-align: center;
  }

  .like-button {
    color: #FFF;
    border: 0px;
    border-radius: 1.5em;
    padding: 0.75em 1.5em;
    background-color: #777;
    transition: background-color 0.25s;

    &.active {
      cursor: pointer;
      &:hover {
        background-color: #888;
      }
    }
  }

  .likes {
    margin-left: 0.5em;
    color: #CCC;
  }
}