.flex-container {
  display: flex;
  margin: 0 3em;
  max-width: 100%;
  justify-content: center;
  background-color: brown;
}


.test-front {
  max-width: 80%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.test-back {
  display: inline-block;
}